body{
margin: 0;
box-sizing: border-box;

}

header p{
font-size: 20px;
color: white;
text-align: right;
font-family: 'Century Gothic', sans-serif;

}

header {

border: 5px dotted #ffffff;
background-color: rgba(0,0,0,.5);
padding: 2px 10px;



}


header ul li a {
display: flex;
color: white;
font-size: 12px;
text-decoration: none;
margin: 10px 10px;
padding: 10px;


}

header a{

border: 2px solid white;

color: white;
padding: 1px 50px;
text-decoration: none;
font-family:'Arial', sans-serif;
font-size: 15px;

}

header a:hover{
color: pink;
} 
header ul .txtb li a: hover{
background-color: black;
transition: 5s;

}








